.Header {
    border-bottom: 1px solid #ddd;
    
    .container {
        position: relative;
        display: flex;
        align-items: center;
        height: 64px;
    }

    &-logo {
        img {
            width: 144px;
        }
    }

    &-switch {
        margin-left: auto;
        @include mq{
            display: none;
        }
    }

    &-menu {
        //display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        padding-right: $gutter;
        padding-left: $gutter;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 20px 30px rgba(black, .2);

        @include mq("tablet"){
            display: flex;
            margin-left: auto;
        }


        &-user{
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                width: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                padding-right: 20px;
                height: $finger-size;
                &:hover {
                    background-color: #eee;
                }

            }
        }

        &-property {
            margin-top: 20px;
            justify-content: center;
        }
        &-helper{
            margin-top: 20px;
            display: flex;
            justify-content: center;

            @include mq("tablet") {
                margin-left: 20px;
            }

        select {
            appearance: none;
            background-color: transparent;
            border: 1px solid #E0E6F1;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 0;
            color: $color-navy;
            height: $finger-size;

            &:nth-child(1) {
                border-bottom-left-radius: $border-radius;
                border-top-left-radius: $border-radius;
            }
            &:nth-child(2){
                border-left-width: 0;
                border-bottom-right-radius: $border-radius;
                border-top-right-radius: $border-radius;
            }
        }

        }
    }

}